<!DOCTYPE html>
<html lang="en">

<head>
    <title>Cartoon Trivia</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Cartoon Trivia - Error">
    {% if not finished %}
      <meta http-equiv="refresh" content="3;url={{ url_for('question', question_id=next)}}"/>
    {% else %}
      <meta http-equiv="refresh" content="3;url={{ url_for('about')}}"/>
    {% endif %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="../static/image/favicon.ico" rel="icon" type="image/x-icon" />
</head>

<body>

    <header>Cartoon Trivia</header>
    
    <div class="flex-home-container">
        <div class="correct">
            <p>Correct Answer: {{ correctAnswer }} </p>
        </div>
        <div>
            <img src="http://imgur.com/FuresVa.gif" height="245" width="360">
        </div>
    </div>


    <footer>
        <p>&copy; Cartoon Trivia GWC 2017</p>
    </footer>

</body>

</html>
